{% extends 'LetEmCook/base.html' %}
{% load static %}

{% block title %}
  @{{ profile.user.username }} | Let Em Cook
{% endblock %}
{% block content %}
  <div class="timeline-container">
    <div id="timeline-header-profile" class="timeline-header">
      {% if profile.user != request.user %}
        <img id="back-btn" src="{% static 'auth_css/cone.png' %}" onclick="window.history.back()" />
      {% endif %}
      <img src="{{ profile.profile_picture.url }}" id="profile-picture" />
      <span id="profile-username">@{{ profile.user.username }}</span>
      <span id="profile-email">{{ profile.user.email }}</span>
      <div id="profile-bio-container">
        <span id="profile-bio">{{ profile.bio }}</span>
      </div>
      <a href="#" id="profile-friends" class="align-self-start">Friends: {{ profile.friends.count }}</a>
    </div>
    <div class="timeline-content">
      <!-- Recipe Template -->
      {% for recipe in recipes %}
        <div class="recipe-container" data-href="{{ recipe.get_absolute_url }}">
          <div class="recipe-author">
            <img src="{{ recipe.user.profile.profile_picture.url }}" class="author-icon" />
            <div class="recipe-author-info">
              <a href="{% url 'profile' recipe.user.username %}" class="recipe-author-name">@{{ recipe.user }}</a>
              <span class="recipe-date">{{ recipe.created_at|timesince }} ago</span>
            </div>
            {% if recipe.user == request.user %}
              <i class="fas fa-trash-alt" onclick="deleteRecipe({{ recipe.id }})"></i>
            {% endif %}
          </div>
          <div class="recipe-header">
            <h3 class="recipe-title">{{ recipe.title }}</h3>
            <div class="recipe-ingredients-container">
              {% for ingredient in recipe.ingredient_list %}
                <span class="recipe-ingredient">{{ ingredient }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="recipe-content recipe-content-timeline">
            <span class="recipe-description">{{ recipe.description|linebreaksbr }}</span>
          </div>
          {% if recipe.image %}
            <div class="recipe-image-container">
              <img src="{{ recipe.image.url }}" class="recipe-image" alt="Recipe Image" />
            </div>
          {% endif %}
          <div class="recipe-tags-container">
            {% for tag in recipe.tags.all %}
              <a href="{% url 'search' %}?q=%23{{ tag.name }}" class="recipe-tag">#{{ tag.name }}</a>
            {% endfor %}
          </div>
          <div class="recipe-footer">
            <button class="like-btn"><i class="fa fa-thumbs-up"></i>{{ recipe.likes.count }}</button>
            <button class="comment-btn"><i class="fa fa-comment"></i>{{ recipe.comments.count }}</button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="right-drawer">
    <div class="right-drawer-header">
      <div class="search-bar-container">
        <i class="fa fa-search search-icon"></i>
        <input type="text" class="search-bar" placeholder="Search for recipes, ingredients, or chefs..." />
      </div>
    </div>
    <div class="right-drawer-content justify-content-center align-items-center" style="height: 100vh; overflow-y: auto;">
      <h2>Search filter for: <span style="color: #F8BBD0;">Text</span></h2>
    </div>
  </div>
{% endblock %}
